<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% include "testapp/includes/header.html" %}
    <!-- {% include "testapp/includes/header.html" with key1=ram %} -->
    <h1>{{month_name}} Challenge</h1>
    <!-- text|title    title bhaneko filter -->
    {% if text is not none %}
    <h2>{{text|title}}</h2>
    {% else %}
    <h2>Not found.</h2>
    {% endif %}
  </body>
</html>
